<html>
<head>
    <title>{{ title }} - Welcome</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Welcome to {{ title }}!</h1>

    <form action="/game">
        <label for="username">username:</label>
        <input type="text" id="username" name="username"><br><br>
        {#    <label for="board_size">Board size:</label>#}
        {#    <input type="text" id="board_size" name="board_size"><br><br>#}
        <label for="board_size">Board size:</label>
        <select name="board_size" id="board_size">
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br><br>
        <label for="board_seed">board_seed:</label>
        <input type="text" id="board_seed" name="board_seed"><br><br>

        <input type="submit" value="Submit">
    </form>

    {% include 'partials/footer.html' %}
</body>
</html>